@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  box-sizing: border-box;
}

.text-header-gradient {
  background: linear-gradient(#23ebb9, #1fcca1);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph {
  @apply text-gray-700 tracking-wide leading-relaxed;
}

.slide-enter {
  overflow: hidden;
  opacity: 0;
  transition-timing-function: ease-in;
}
.slide-enter-active {
  opacity: 1;
  transition-duration: 500ms;
  transition-timing-function: ease-in;
}
.slide-exit {
  opacity: 1;
  overflow: hidden;
}
.slide-exit-active {
  opacity: 0;
  transition-duration: 500ms;
}
